* {
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0.5) 50%,
  rgba(0,0,0,0.5)50%),
  url;
}

.main {
  width: 100%;
  height: 100vh;
  background-size: coover;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(clonemainImage1.jpg);
  background-position: center;
}
